{{> head }}


        {{> navbar }}
        <div class="row">

       
    <div class "col-8" >
        <h1> La mariposa </h1>
        <p>
            Las al​as de l​as mariposas son de diversos colores.
         </p>

    </div>

    <div class="col-4">
        <img src= "bootstrap/img/descarga.png" class="img-thumbnail"

    </div>
     </div>

        {{> footer }}
